.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}
.title-gradient {
    color: rgb(255,0,0);
    background: -webkit-linear-gradient(45deg, #09009f, #00a761 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-main {
    background: linear-gradient(90deg, #effaff 0%, #d9e7ff 100%);
}

.gen-button {
    background: #00B86E;
    color: #FFFFFF;
}

.gen-button:hover {
    background-color: #00A362;
}

.bg-box {
    background: #FFFFFF;
}

.roboto-title-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 45px;
    font-style: normal;
}